<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" type="text/css" href="/css/ver_noticia.css">
       
    </head>
    <body>
           <nav th:replace="/fragments/navbar :: nav"> </nav>
        <div>
            
            <form th:action="@{/logincheck}" method="post" >
                <h2> <b> INGRESE A LAS NOTICIAS <b> </h2>
                <span> INGRESE EL EMAIL </span> <br> 
                <input type="email" name="email" placeholder="EMAIL" > <br>
                 
                <span> INGRESE LA CONTRASEÑA </span> <br>
                <input type="password" name="password" placeholder="CONTRASEÑA" >
                
                <button type="submit" > INGRESAR </button>
                
                
            </form>
            
                 
        
              <div th:if="${error != null}">
            <div>
                <h5>ERROR</h5>
                <p th:text="${error}" ></p>
            </div>
                       
        </div>
        
        <div th:if="${exito != null}">
            <div>
                <h5>EXITO!</h5>
                <p  th:text="${exito}"></p>
            </div>
                       
        </div>
          
        
        
                     
            
        </div>
    </body>
</html>
