<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/ver_noticia.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header> 
            <h1 > Noticias </h1>
        </header>
        <br>
        <div class="contenedor"> 
            <div class="titcuer">
                <div class="imagen">
                    <img  src="/imagenes/electricidad.jpg">
                </div>
                <h3 id="titulo" > ¿Qué son los campos electromagnéticos y como afectan al ser humano? </h3> 
            </div>
            <div>

                <a href="https://www.sectorelectricidad.com/16915/que-son-los-campos-electromagneticos-y-como-afectan-al-ser-humano/"> <button class="c-button">
                    <span class="c-main">
                        <span class="c-ico"><span class="c-blur"></span> <span class="ico-text">+</span></span>
                         VER NOTICIA
                    </span>
                </button>  </a>
            </div>
        </div>

        <br>

        <div class="contenedor"> 
            <div class="titcuer">   
                <div class="imagen">
                    <img   src="/imagenes/Image20230801211408.jpg">
                </div>
                <h3 id="titulo" > Egg ofrece 100 mil becas gratuitas para aprender a programar desde cero </h3> 
            </div>
            <div>

                <a href="https://revistaganamas.com.pe/egg-ofrece-100-mil-becas-gratuitas-para-aprender-a-programar-desde-cero/"> <button class="c-button">
                    <span class="c-main">
                        <span class="c-ico"><span class="c-blur"></span> <span class="ico-text">+</span></span>
                        VER NOTICIA
                    </span>
                </button>  </a>
            </div>
        </div>

        <br>
        <div class="contenedor">  
            <div class="titcuer">
                <div class="imagen">
                    <img   src="/imagenes/mario.jpg">
                </div>
                <h3 id="titulo" > Actualización disponible para ‘New Super Mario Bros U’ </h3> 
            </div>
            <div>

              <a href="https://www.nintenderos.com/2013/03/actualizacion-disponible-para-new-super-mario-bros-u/">   <button class="c-button">
                    <span class="c-main">
                        <span class="c-ico"><span class="c-blur"></span> <span class="ico-text">+</span></span>
                        VER NOTICIA
                    </span>
                </button>  </a>
            </div>
        </div>
        <br>
        <div class="contenedor"> 
            <div class="titcuer">
                <div class="imagen">
                    <img   src="/imagenes/bd.jpg">
                </div>
                <h3 id="titulo" > Actualizar una conexión de base de datos </h3> 
            </div>
            <div>

               <a href=" https://doc.arcgis.com/es/insights/latest/get-started/update-a-database-connection.htm"> <button class="c-button">
                    <span class="c-main">
                        <span class="c-ico"><span class="c-blur"></span> <span class="ico-text">+</span></span>
                         VER NOTICIA
                    </span>
                </button>
                   </a>

               
            </div>
        </div>
        <br>
    </body>
</html>
